APP_NAME=Enterprise AI Knowledge System
APP_VERSION=0.1.0
ENVIRONMENT=development

HOST=0.0.0.0
PORT=8000

OPENAI_API_KEY=your_openai_api_key

CHAT_MODEL=gpt-5
EMBEDDING_MODEL=text-embedding-3-small

UPLOAD_DIR=app/uploads
CHROMA_DB_DIR=app/chroma_db

MAX_UPLOAD_SIZE_MB=25

LOG_LEVEL=INFO


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=LANGSMITH_ENDPOINT
LANGSMITH_API_KEY=LANGSMITH_API_KEY
LANGSMITH_PROJECT=LANGSMITH_PROJECT