fastapi
uvicorn[standard]

langchain
langgraph

langchain-openai
langchain-community
langchain-chroma

chromadb

openai

python-dotenv

pydantic

pypdf

pandas

openpyxl

tiktoken

python-multipart

aiofiles

httpx

loguru